body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.tamanio, .fonttwitter, .fontinstagram, .fontwhatsapp {
  font-size: 50px; }

.fonttwitter {
  color: #79bdd4; }

.fontinstagram {
  color: #9e3eca; }

.fontwhatsapp {
  color: #55c055; }

.mixins {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
