$redes: (
    twitter: rgb(121, 189, 212),
    instagram:rgb(158, 62, 202),
    whatsapp: rgb(85, 192, 85),
);
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.tamanio {
    font-size: 50px;
}
@each $red, $color in $redes {
    .font#{$red}{
        color: #{$color};
        @extend .tamanio;
    }
}
@mixin cajaCentrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.mixins {
    @include cajaCentrada
}